.outerContainer {
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 33%;
  height: 65%;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  border: 0.7px solid black;
  border-radius: 20px 20px 0 0;

  -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 999;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;
}

.chatbox--tray {
  bottom: -59%;
}

.outerContainer {
    display: flex;
    align-items: center;
    height: 65%;
    background-color: #1A1A1D;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 20px 20px 0 0;
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .infoBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2979FF;
    border-radius: 20px 20px 0 0;
    height: 50px;
    width: 100%;
    min-height: 50px;
    padding-right: 10px;
    cursor: pointer;
    padding-left: 5%;
    border-bottom: none;
  }
  
  .leftInnerContainer {
    flex: 4;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
  }
  
  .rightInnerContainer {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
    width: 5%;
  }
  
  .onlineIcon {
    margin-right: 5%;
  }

  .messages {
    padding: 5% 3% 5% 3%;
    overflow: auto;
    flex: auto;
  }

  .form-chat {
    display: flex;
    border-radius: 3px;
    height: 100%;
  }
  
  .input-chat {
    border: none;
    border-radius: 24px 0 0 24px;
    padding-left: 5%;
    padding-right: 5%;
    width: 80%;
    height: 100%;
    font-size: 1.2em;
    background-color: #ddd;
    resize: none;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    display: inline-block;
    border: none;
    width: 20%;
    height: 100%;
    border-radius: 0 24px 24px 0;
  }

  .messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    word-wrap: break-word;
    margin-bottom: 0;
  }
  
  .messageText img {
    vertical-align: middle;
  }
  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 0 1% 1%;
    margin-top: 3px;
  }
  
  .justifyStart {
    justify-content: flex-start;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }
  
  .colorWhite {
    color: white;
  }
  
  .colorDark {
    color: #353535;
  }
  
  .backgroundBlue {
    background: #2979FF;
  }
  
  .backgroundLight {
    background: #F3F3F3;
  }

  .send-form{
    padding:2%;
    height: 15%;
    border-top: 1px solid #ddd;
  }
  
  .chat-menu{
    margin-left: 1%;
    height: 24px;
    width: 24px;
    margin-top: inherit;
  }

  .popup-chat-menu{
    max-width: 340px;
    overflow: hidden;
    position: absolute;
    z-index: 10000;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26), 0 2px 10px 0 rgba(0,0,0,.16);
    padding: 9px 0;
    text-align: left;
  }

  .ul-chat-menu{
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .button-menu{
    padding-top: 13px;
    padding-right: 24px;
    padding-left: 24px;
    box-sizing: border-box;
  }

  #input-search-chat{
    background-color: #fff;
    height: 30px;
  }

  #search-chat-button{
    background-color: #fff;
    height: 30px;
  }

  #search-form-chat{
    width: 100%;
  }

  #icon-search-chat{
    max-width: 100%;
    max-height: 100%;
  }

  .choice-user{
    display: flex;
    padding:3% 5%;
    height: 15%;
    border-top: 1px solid #ddd;
  }

  .choice-user-button{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    display: inline-block;
    border: none;
    width: 50%;
    height: 100%;
  }

  .choice-user-button:hover{
    background: rgb(0, 50, 136);
  }

  #academicButtonChat{
    border-radius: 24px 0 0 24px;
  }

  #externalButtonChat{
    border-radius: 0 24px 24px 0;
  }

  .contact-container{
    width: 100%;
    padding: 0 0 1% 1%;
    margin-top: 3px;
  }

  .contact{
    display: block;
    margin:2% 3%;
  }

  .contact-container:hover{
    background-color: #eee;
  }

  .user-info-name{
    font-size: 1.2em;
    padding: 2%;
    margin-bottom: 0;
  }

  .contacts{
    padding: 5% 3% 5% 3%;
    overflow: auto;
    flex: auto;
  }

  .user-info-email{
    font-size: 0.8em;
    color: #5d5d5d;
    padding: 2%;
    margin-bottom: 0;
  }

  #name-of-user{
    font-size:1.3em;
    margin-bottom: 0;
    font-weight: bold;
  }
  
  #name-of-user:hover{
    text-decoration: none;
  }

  #back-chat{
    margin-right: 5%;
  }

  #back-icon-chat{
    max-width: 100%;
    max-height: 100%;
  }

  #minimize{
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin-bottom: 0;
  }

  #minimize-a{
    margin-right: 40%;
  }

  #close-chat{
    margin-top: 100%;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
      height: 100%;
    }
  
    .container {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .container {
      width: 100%;
    }
  }