:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  .card {
    border-radius: 20px !important;
    width: 45%;      
    margin-top: 30vh !important;
    margin: auto;
    box-shadow: 0 0.5rem 1rem 0 #3d4347 !important;
  }
  
  .container {
    background-image: url('../img/Unisa.jpg');
    min-width: 100%;
    min-height: 100vh;
    background-repeat: round;
  }

  .row {
    min-width: 100% !important;
    min-height: 100vh !important;
  }

  body {
    background: #eee !important;
  }
  
  .card-login {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card-login .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-login .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('../img/EasyAgreement_Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  .card-img-left{
      margin: 2%;
      margin-left: 4%;
  }
  
  .card-login .card-body {
    padding: 2rem;
  }
  
  .form-login {
    width: 100%;
  }
  
  .form-login .btn {
    border-radius: 5rem;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    height: auto;
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
     
  .mt-2{
    color: #007bff;
  }

  .mt-2:hover{
    color: #007bff;
  }
  
  .form-control:focus {
    border-color: #007bff !important;
  }


 #errUsername, #errPassword {
  color:red;
  display: none;
  margin-top: -5px;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 5px;
}
.errClass{
  border-color: red !important;
}

.errClass:focus{
  border-color: red !important;
}

@media (max-width: 570px) {
  .card{
    margin: 0 !important;
    width: 100%;
  }

  .row{
    align-content: center;
  }
}