<%- include ('../header') %>
<%- include ('../sidebar') %>

<link href="/css/simple-sidebar.css" rel="stylesheet">
<script type="text/javascript" src="./js/formValidation.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="/js/cookie.js"></script>

           
<div class="main-panel">
    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Visualizzazione informazioni Organizzazione ospitante</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner py-5">
            <img class="logoEA" src="/img/EasyAgreement_Logo.png" alt="logo Easy Agreement">
            <h4 style="text-align: justify; font-style: italic; color: darkblue;">Erasmus+</h4><br>
            <hr>
            <h5 style="text-align: justify; font-style: italic; color: darkblue;">Informazioni Organizzazione ospitante</h5>
                     <div class="form-label-group">
                         


                             
                         </div>
                     </div>
                </div>
            </div>
                
                     <script>
                                $("#menu-toggle ").click(function(e) {
                                    e.preventDefault();
                                    $("#wrapper ").toggleClass("toggled ");
                      });
                     </script>
                        
                        <%- include ('../footer') %>
                        
                




