<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <a href="index.html" style="text-decoration: none; color: black;">
                <div class=sidebar-logo>
                    <img src="/img/logoUni.png" style="float: left" width="50px">
                </div>
                <div class="sidebar-heading"> Home </div>
            </a>
            <div class="list-group list-group-flush">
                <a href="profile.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/profile.svg" style="height: 20px; width: 20px;"> Profilo</a>
                <a href="compileLAStudent.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/compileLA.svg" style="height: 20px; width: 20px;" id="button_hold"> Compilazione LA</a>
                <a href="viewLA.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/ViewLA.svg" style="height: 20px; width: 20px;"> Visualizzazione LA</a>
                <a href="viewtutor.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/tutor_list.svg" style="height: 20px; width: 20px;"> Lista Tutor</a>
                <a href="dochandler.html" class="list-group-item list-group-item-action bg-light">
                    <img src="/img/documents.svg" style="height: 20px; width: 20px;"> Gestione Documenti</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="background-color: orange;">
                <button id="menu-toggle"><img src="/img/menu.png" style="height: 20px; width: 20px;"></button>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/img/responsive_slide.svg" style="height: 20px; width: 20px;">
            </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="/img/notification.svg" style="height: 20px; width: 20px;"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><img src="/img/chat.svg" style="height: 20px; width: 20px;"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="login.html">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <h4 class="mt-4" style="text-align: center;">Compilazione Learning Agreement</h4>
                <hr>
                <img class="logoEA" src="/img/EasyAgreement_Logo.png" style="width: 50px; height: 50px; float: left;" alt="logo Easy Agreement">
                <h4 style="text-align: justify; font-style: italic; color: darkblue;">Erasmus+</h4><br>
                <h5 style="text-align: justify; font-style: italic; color: darkblue;">Info Studente</h5>
                <form id="formCompile" method="POST" action="compileLAStudent.html"><br>
                    <div class="form-label-group">
                        <input type="text" id="inputName" class="form-control" name="inputName" placeholder="Nome" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                        <label for="inputName">Nome<label>
                            </div>
                            <div class="form-label-group">
                                <input type="text" id="inputSurname" class="form-control" name="inputSurname" placeholder="Cognome" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                                <label for="inputSurname">Cognome</label>
                    </div>
                    <div class="form-label-group">
                        <input type="date" id="inputDate" class="form-control" name="inputDate" placeholder="Data Di Nascita" pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" required>
                        <label for="inputDate">Data Di Nascita</label>
                    </div>
                    <div class="form-label-group">
                        <input type="tel" id="inputTelephone" class="form-control" name="inputTelephone" placeholder="Telefono" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" required>
                        <label for="inputTelephone">Telefono</label>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            Sesso:<br>
                            <label for="radio1">M
                                    <input type="radio" name="radio1" value="M">
                                    </label>
                            <label for="radio1">F
                                    <input type="radio" name="radio1" value="F">
                                    </label>
                        </div>
                        <div class="col-auto-my-1">
                            <label class="mr-sm-2" for="inlineFormCustomSelect"><sup>1</sup>Nazionalità:</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="nationality">
                                            <option selected="selected" value="">--Seleziona--</option>
                                            <option value="afghanistan">Afghanistan</option>
                                            <option value="albania">Albania</option>
                                            <option value="algeria">Algeria</option>
                                            <option value="andorra">Andorra</option>
                                            <option value="angola">Angola</option>
                                            <option value="antarctica">Antartico</option>
                                            <option value="antigua and barbuda">Antigua e Barbuda</option>
                                            <option value="saudi arabia">Arabia saudita</option>
                                            <option value="argentina">Argentina</option>
                                            <option value="armenia">Armenia</option>
                                            <option value="australia">Australia</option>
                                            <option value="australia christmas island">Australia - Isola Christmas</option>
                                            <option value="australia norfolk island">Australia - Isola Norfolk</option>
                                            <option value="australia cocos keeling islands">Australia - Isole Cocos</option>
                                            <option value="heard and mc donald islands">Australia - Isole Heard e Mcdonald</option>
                                            <option value="austria">Austria</option>
                                            <option value="azerbaijan">Azerbaijan</option>
                                            <option value="bahamas">Bahamas</option>
                                            <option value="bahrain">Bahrain</option>
                                            <option value="bangladesh">Bangladesh</option>
                                            <option value="barbados">Barbados</option>
                                            <option value="belgium">Belgio</option>
                                            <option value="belize">Belize</option>
                                            <option value="benin">Benin</option>
                                            <option value="bhutan">Bhutan</option>
                                            <option value="belarus">Bielorussia</option>
                                            <option value="bolivia">Bolivia</option>
                                            <option value="bosnia herzegovina">Bosnia Erzegovina</option>
                                            <option value="botswana">Botswana</option>
                                            <option value="brazil">Brasile</option>
                                            <option value="brunei">Brunei</option>
                                            <option value="bulgaria">Bulgaria</option>
                                            <option value="burkina faso">Burkina Faso</option>
                                            <option value="burundi">Burundi</option>
                                            <option value="cambodia">Cambogia</option>
                                            <option value="cameroon">Camerun</option>
                                            <option value="canada">Canada</option>
                                            <option value="cape verde">Capo Verde</option>
                                            <option value="chad">Ciad</option>
                                            <option value="chile">Cile</option>
                                            <option value="china">Cina</option>
                                            <option value="china hong kong">Cina - Hong Kong</option>
                                            <option value="china macau">Cina - Macao</option>
                                            <option value="cyprus">Cipro</option>
                                            <option value="holy see">Citta' Del Vaticano</option>
                                            <option value="colombia">Colombia</option>
                                            <option value="comoros">Comore</option>
                                            <option value="north korea">Corea del Nord</option>
                                            <option value="south korea">Corea del Sud</option>
                                            <option value="cote divoire">Costa D'Avorio</option>
                                            <option value="costa rica">Costa Rica</option>
                                            <option value="croatia">Croazia</option>
                                            <option value="cuba">Cuba</option>
                                            <option value="denmark">Danimarca</option>
                                            <option value="denmark faroe islands">Danimarca - Isole Faroe</option>
                                            <option value="dominica">Dominica</option>
                                            <option value="ecuador">Ecuador</option>
                                            <option value="egypt">Egitto</option>
                                            <option value="el salvador">El Salvador</option>
                                            <option value="united arab emirates">Emirati Arabi Uniti</option>
                                            <option value="eritrea">Eritrea</option>
                                            <option value="estonia">Estonia</option>
                                            <option value="ethiopia">Etiopia</option>
                                            <option value="fiji">Figi</option>
                                            <option value="philippines">Filippine</option>
                                            <option value="finland">Finlandia</option>
                                            <option value="finland aland islands">Finlandia - Isole Aland</option>
                                            <option value="france">Francia</option>
                                            <option value="france guadeloupe">Francia - Guadalupa</option>
                                            <option value="france french guiana">Francia - Guyana Francese</option>
                                            <option value="france martinique">Francia - Martinica</option>
                                            <option value="france mayotte">Francia - Mayotte</option>
                                            <option value="france new caledonia">Francia - Nuova Caledonia</option>
                                            <option value="france french polynesia">Francia - Polinesia Francese</option>
                                            <option value="france reunion">Francia - Reunion</option>
                                            <option value="france saint pierre and miquelon">Francia - Saint Pierre e Miquelon</option>
                                            <option value="france french southern territories">Francia - Territori Francesi Meridionali</option>
                                            <option value="france wallis and futuna islands">Francia - Wallis e Futuna</option>
                                            <option value="gabon">Gabon</option>
                                            <option value="gambia">Gambia</option>
                                            <option value="georgia">Georgia</option>
                                            <option value="germany">Germania</option>
                                            <option value="ghana">Ghana</option>
                                            <option value="jamaica">Giamaica</option>
                                            <option value="japan">Giappone</option>
                                            <option value="djibouti">Gibuti</option>
                                            <option value="jordan">Giordania</option>
                                            <option value="greece">Grecia</option>
                                            <option value="grenada">Grenada</option>
                                            <option value="greenland">Groenlandia</option>
                                            <option value="guatemala">Guatemala</option>
                                            <option value="guinea">Guinea</option>
                                            <option value="equatorial guinea">Guinea Equatoriale</option>
                                            <option value="guinea bissau">Guinea-Bissau</option>
                                            <option value="guyana">Guyana</option>
                                            <option value="haiti">Haiti</option>
                                            <option value="honduras">Honduras</option>
                                            <option value="india">India</option>
                                            <option value="indonesia">Indonesia</option>
                                            <option value="iran">Iran</option>
                                            <option value="iraq">Iraq</option>
                                            <option value="ireland">Irlanda</option>
                                            <option value="iceland">Islanda</option>
                                            <option value="marshall islands">Isole Marshall</option>
                                            <option value="solomon islands">Isole Salomone</option>
                                            <option value="israel">Israele</option>
                                            <option value="italy">Italia</option>
                                            <option value="kazakhstan">Kazakistan</option>
                                            <option value="kenya">Kenya</option>
                                            <option value="kyrgyzstan">Kirghizistan</option>
                                            <option value="kiribati">Kiribati</option>
                                            <option value="kuwait">Kuwait</option>
                                            <option value="laos">Laos</option>
                                            <option value="lesotho">Lesotho</option>
                                            <option value="latvia">Lettonia</option>
                                            <option value="lebanon">Libano</option>
                                            <option value="liberia">Liberia</option>
                                            <option value="libya">Libia</option>
                                            <option value="liechtenstein">Liechtenstein</option>
                                            <option value="lithuania">Lituania</option>
                                            <option value="luxembourg">Lussemburgo</option>
                                            <option value="macedonia">Macedonia</option>
                                            <option value="madagascar">Madagascar</option>
                                            <option value="malawi">Malawi</option>
                                            <option value="maldives">Maldive</option>
                                            <option value="malaysia">Malesia</option>
                                            <option value="mali">Mali</option>
                                            <option value="malta">Malta</option>
                                            <option value="morocco">Marocco</option>
                                            <option value="mauritania">Mauritania</option>
                                            <option value="mauritius">Mauritius</option>
                                            <option value="mexico">Messico</option>
                                            <option value="micronesia">Micronesia</option>
                                            <option value="moldova">Moldavia</option>
                                            <option value="mongolia">Mongolia</option>
                                            <option value="montenegro">Montenegro</option>
                                            <option value="mozambique">Mozambico</option>
                                            <option value="myanmar">Myanmar</option>
                                            <option value="namibia">Namibia</option>
                                            <option value="nauru">Nauru</option>
                                            <option value="nepal">Nepal</option>
                                            <option value="nicaragua">Nicaragua</option>
                                            <option value="niger">Niger</option>
                                            <option value="nigeria">Nigeria</option>
                                            <option value="norway">Norvegia</option>
                                            <option value="norway bouvet island">Norvegia - Isola Bouvet</option>
                                            <option value="norway svalbard and jan mayen islands">Norvegia - Svalbard</option>
                                            <option value="new zealand">Nuova Zelanda</option>
                                            <option value="new zealand cook islands">Nuova Zelanda - Isole Cook</option>
                                            <option value="new zealand niue">Nuova Zelanda - Niue</option>
                                            <option value="new zealand tokelau">Nuova Zelanda - Tokelau</option>
                                            <option value="holland">Olanda</option>
                                            <option value="oman">Oman</option>
                                            <option value="netherlands">Paesi Bassi</option>
                                            <option value="netherlands netherlands antilles">Paesi Bassi - Antille Olandesi</option>
                                            <option value="netherlands aruba">Paesi Bassi - Aruba</option>
                                            <option value="pakistan">Pakistan</option>
                                            <option value="palau">Palau</option>
                                            <option value="palestine">Palestina</option>
                                            <option value="panama">Panama</option>
                                            <option value="papua new guinea">Papua Nuova Guinea</option>
                                            <option value="paraguay">Paraguay</option>
                                            <option value="peru">Peru'</option>
                                            <option value="poland">Polonia</option>
                                            <option value="puerto rico">Porto Rico</option>
                                            <option value="portugal">Portogallo</option>
                                            <option value="principality of monaco">Principato Di Monaco</option>
                                            <option value="qatar">Qatar</option>
                                            <option value="united kingdom">Regno Unito</option>
                                            <option value="united kingdom anguilla">Regno Unito - Anguilla</option>
                                            <option value="united kingdom bermuda">Regno Unito - Bermuda</option>
                                            <option value="united kingdom gibraltar">Regno Unito - Gibilterra</option>
                                            <option value="united kingdom guernsey">Regno Unito - Guernsey</option>
                                            <option value="united kingdom isle of man">regno unito - isola di man</option>
                                            <option value="united kingdom cayman islands">Regno Unito - Isole Cayman</option>
                                            <option value="united kingdom falkland islands">Regno Unito - Isole Falkland</option>
                                            <option value="united kingdom pitcairn">Regno Unito - Isole Pitcairn</option>
                                            <option value="united kingdom south sandwich islands">Regno Unito - Isole Sandwich Meridionali</option>
                                            <option value="united kingdom turks and caicos islands">Regno Unito - Isole Turks e Caicos</option>
                                            <option value="united kingdom british virgin islands">Regno Unito - Isole Vergini Britanniche</option>
                                            <option value="united kingdom jersey">Regno Unito - Jersey</option>
                                            <option value="united kingdom monttserrat">Regno Unito - Montserrat</option>
                                            <option value="united kingdom saint helena">Regno Unito - Sant'Elena</option>
                                            <option value="united kingdom british indian ocean territory">Regno Unito - Terr. Britannico dell'Oceano Indiano</option>
                                            <option value="czech republic">Repubblica Ceca</option>
                                            <option value="central african republic">Repubblica Centrafricana</option>
                                            <option value="republic of the congo">Repubblica del Congo</option>
                                            <option value="democratic republic of the congo">Repubblica Democratica del Congo (ex Zaire)</option>
                                            <option value="republic of san marino">Repubblica di San Marino</option>
                                            <option value="dominican republic">Repubblica Dominicana</option>
                                            <option value="romania">Romania</option>
                                            <option value="rwanda">Ruanda</option>
                                            <option value="russia">Russia</option>
                                            <option value="western sahara">Sahara Occidentale</option>
                                            <option value="saint vincent and the grenadines">Saint Vincent e Grenadines</option>
                                            <option value="samoa">Samoa</option>
                                            <option value="saint kitts and nevis">San Kitts e Nevis</option>
                                            <option value="saint lucia">Santa Lucia</option>
                                            <option value="sao tome and principe">Sao Tome e Principe</option>
                                            <option value="senegal">Senegal</option>
                                            <option value="serbia">serbia</option>
                                            <option value="seyschelles">Seychelles</option>
                                            <option value="sierra leone">Sierra leone</option>
                                            <option value="singapore">Singapore</option>
                                            <option value="syria">Siria</option>
                                            <option value="slovakia">Slovacchia</option>
                                            <option value="slovenia">Slovenia</option>
                                            <option value="somalia">Somalia</option>
                                            <option value="spain">Spagna</option>
                                            <option value="sri lanka">Sri Lanka</option>
                                            <option value="united states of america">Stati Uniti D'America</option>
                                            <option value="united states of america guam">Stati Uniti D'America - Guam</option>
                                            <option value="united states of america northern mariana islands">Stati Uniti D'America - Isole Marianne settentrionali</option>
                                            <option value="united states of america minor outlyng islands">Stati Uniti D'America - Isole Periferiche Secondarie</option>
                                            <option value="united states of america virgin islands">Stati Uniti D'America - Isole Vergini Statunitensi</option>
                                            <option value="united states of america american samoa">Stati Uniti D'America - Samoa Americane</option>
                                            <option value="south africa">Sud Africa</option>
                                            <option value="sudan">Sudan</option>
                                            <option value="suriname">Suriname</option>
                                            <option value="sweden">Svezia</option>
                                            <option value="switzerland">Svizzera</option>
                                            <option value="swaziland">Swaziland</option>
                                            <option value="tajikistan">Tagikistan</option>
                                            <option value="thailand">Tailandia</option>
                                            <option value="taiwan">Taiwan</option>
                                            <option value="tanzania">Tanzania</option>
                                            <option value="east timor">Timor Dell'Est</option>
                                            <option value="togo">Togo</option>
                                            <option value="tonga">Tonga</option>
                                            <option value="trinidad and tobago">Trinidad e Tobago</option>
                                            <option value="tunisia">Tunisia</option>
                                            <option value="turkey">Turchia</option>
                                            <option value="turkmenistan">Turkmenistan</option>
                                            <option value="tuvalu">Tuvalu</option>
                                            <option value="ukraine">Ucraina</option>
                                            <option value="uganda">Uganda</option>
                                            <option value="hungary">Ungheria</option>
                                            <option value="uruguay">Uruguay</option>
                                            <option value="uzbekistan">Uzbekistan</option>
                                            <option value="vanuatu">Vanuatu</option>
                                            <option value="venezuela">Venezuela</option>
                                            <option value="vietnam">Vietnam</option>
                                            <option value="yemen">Yemen</option>
                                            <option value="zambia">Zambia</option>
                                            <option value="zimbabwe">Zimbabwe</option>
                                    </select>
                            <br>
                        </div>
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="inputStudyCicle" name="inputStudyCycle" placeholder="Ciclo Di Studi" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                        <label for="inputStudyCicle"><sup>2</sup>Ciclo Di Studi</label>
                    </div>
                    <div class="form-label-group">
                        <input type="date" class="form-control" id="inputAcademicYear1" name="inputAcademicYear1" placeholder="Anno Accademico 1" pattern="\b(20|[2-9][0-9])\d/(20|[2-9][0-9])\d" required>
                        <label for="inputAcademicYear">Anno Accademico1</label>
                    </div>
                    <div class="form-label-group">
                        <input type="date" class="form-control" id="inputAcademicYear2" name="inputAcademicYear2" placeholder="Anno Accademico 2" pattern="\b(20|[2-9][0-9])\d/(20|[2-9][0-9])\d" required>
                        <label for="inputAcademicYear">Anno Accademico2</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="inputSubjectCode" name="inputSubjectCode" placeholder="Facoltà e Codice Identificativo" pattern="^[a-z][A-Z][0-9]\d{4}" required>
                        <label for="inputCode"><sup>3</sup>Codice Identificativo Facoltà </label>
                    </div>
                    <div class="form-label-group">
                        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="E-mail" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" autofocus required>
                        <label for="inputEmail">E-mail</label>
                    </div>
                    <hr>
                    <h5 style="text-align: justify; font-style: italic; color: darkblue;">Info Istituto Di Provenienza</h5><br>
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="inputDepartmentSending" name="inputDepartmentSending" placeholder="Dipartimento Di Provenienza" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                        <label for="inputDepartmentSending">Dipartimento Di Provenienza</label>
                    </div>
                    <div class="form-label-group">
                        <input type="email" class="form-control" id="inputContactSending1" name="inputContactSending1" placeholder="Contatto Docente: E-mail" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                            required>
                        <label for="inputContactSending">Contatto Docente: E-mail</label>
                    </div>
                    <div class="form-label-group">
                        <input type="tel" class="form-control" id="inputContactSending2" name="inputContactSending2" placeholder="Contatto Docente: Telefono" pattern="^[0-9]" required>
                        <label for="inputContactSending">Contatto Docente: Telefono</label>
                    </div>
                    <hr>
                    <h5 style="text-align: justify; font-style: italic; color: darkblue;">Info Organizzazione/Impresa Ricevente</h5><br>
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="inputNameSector" name="inputNameSector" placeholder="Nome Settore" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                        <label for="inputNameSector"><sup>4</sup>Nome Settore</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="inputDepartmentReciving" name="inputDepartmentReciving" placeholder="Dipartimento Ricevente" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                        <label for="inputDepartmentReciving"> Dipartimento Ricevente</label>
                    </div>
                    <div class="form-label-group">
                        <input type="url" class="form-control" id="inputWebSite" name="inputWebSite" placeholder="Indirizzo Sito Web" pattern="^(https?:\/\/)?(www\.)?([a-zA-Z0-9]+(-?[a-zA-Z0-9])*\.)+[\w]{2,}(\/\S*)?$" required>
                        <label for="inputWebSite">Indrizzo Sito Web</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="inputCountry" name="inputCountry" placeholder="Paese" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                        <label for="inputCountry">Paese</label>
                    </div>
                    <div class="form-label-group">
                        <input type="number" class="form-control" id="inputSizeEnterprise" name="inputSizeEnterprise" placeholder="Dimensioni Organizzazione" pattern="^[0-9]*$" required>
                        <label for="inputSizeEnterprise"><sup>5</sup>Dimensioni Organizzazione</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="inputContactReciving" name="inputContactReciving" placeholder="Contatto Ricevente: Name, Position" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                        <label for="inputContactReciving"><sup>6</sup>Contatto Del Ricevente: Nome, Posizione</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="inputMentor" name="inputMentor" placeholder="Mentore: Nome, Posizione" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                        <label for="inputMentor"><sup>7</sup>Mentore: Nome, Posizione</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="inputMentorEmail" name="inputMentorEmail" placeholder="Mentore: E-mail" pattern="/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+\s{1}\/?\s?\d{9,10}$/" required>
                        <label for="inputMentorEmail">Mentore: E-mail</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" class="form-control" id="inputMentorTel" name="inputMentorTel" placeholder="Mentore: Telefono" pattern="^[0-9]\" required>
                        <label for="inputMentorTel">Mentore: Telefono</label>
                    </div>
                    <hr>
                    <h5 style="text-align: justify; font-style: italic; color: darkblue;">Programma Di Mobilità Proposto</h5><br>
                    <p style="font-weight: bold;">Periodo di mobilità pianificato da:</p>
                    <div class="form-label-group">
                        <input type="month" class="form-control" id="inputDateFrom" name="inputDateFrom" placeholder="mm/aaaa" pattern="(\d{2})/(\d{4})" required>
                        <label for="inputDateFrom">mm/aaaa</label>
                    </div>
                    <p style="font-weight: bold;">al:</p>
                    <div class="form-label-group">
                        <input type="month" class="form-control" id="inputDateTo" name="inputDateTo" placeholder="mm/aaaa" pattern="(\d{2})/(\d{4})" required>
                        <label for="inputDateTo">mm/aaaa</label>
                    </div>
                    <div class="inputHour">
                        <p style="font-weight: bold;">Numero di ore lavorative settimanali:</p>
                        <label for="inputHourWork">
                    <input type="number" id="inputHourWork" name="inputHourWork" min="0">
                    </label>
                    </div>
                    <div class="form-group">
                        <p style="font-weight: bold;">Titolo Tirocinio:</p>
                        <label for="comment"> </label>
                        <textarea class="form-control" rows="1" id="inputTitle" name="inputTitle"></textarea>
                    </div>
                    <br>
                    <p style="font-weight: bold;">Programma dettagliato del periodo di tirocinio:</p>
                    <div class="form-group">
                        <label for="comment"> </label>
                        <textarea class="form-control" rows="3" id="inputDetailed" name="inputDetailed"></textarea>
                    </div><br>
                    <p style="font-weight: bold;">Conoscenze, abilità e competenze che il tirocinante deve acquisire al termine del tirocinio:</p>
                    <div class="form-group">
                        <label for="comment"> </label>
                        <textarea class="form-control" rows="3" id="inputKnoledge" name="inputKnowledge"></textarea>
                    </div><br>
                    <p style="font-weight: bold;">Piano di monitoraggio:</p>
                    <div class="form-group">
                        <label for="comment"> </label>
                        <textarea class="form-control" rows="2" id="inputMonitoring" name="inputMonitoring"></textarea>
                    </div><br>
                    <p style="font-weight: bold;">Piano di valutazione:</p>
                    <div class="form-group">
                        <label for="comment"> </label>
                        <textarea class="form-control" rows="2" id="inputEvaluation" name="inputEvaluation"></textarea>
                    </div><br>
                    <div class="form-label-group">
                        <p style="font-weight: bold;">Competenza linguistica del tirocinante:</p>
                        <p>Il livello di competenza linguistica in<sup>8</sup>
                            <input type="text" class="form-control" id="inputLenguage" name="inputLenguage" placeholder="Lingua" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                            <label for="inputLenguage">Lingua</label> [lingua principale sul luogo di lavoro] che il tirocinante ha già o accetta di acquisire all'inizio del periodo di mobilità è:</p>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <label for="inputRadio">A1</label>
                            <input type="radio" name="inputRadio" value="A1">
                            <br>
                            <label for="inputRadio">A2</label>
                            <input type="radio" name="inputRadio" value="A2">
                            <br>
                            <label for="inputRadio">B1</label>
                            <input type="radio" name="inputRadio" value="B1">
                            <br>
                            <label for="inputRadio">B2</label>
                            <input type="radio" name="inputRadio" value="B2">
                            <br>
                            <label for="inputRadio">C1</label>
                            <input type="radio" name="inputRadio" value="C1">
                            <br>
                            <label for="inputRadio">C2</label>
                            <input type="radio" name="inputRadio" value="C2">
                            <br>
                        </div>
                    </div>
                    <hr>
                    <div class="form-label-group">
                        <input type="date" id="inputDateCompilation" class="form-control" name="inputDateCompilation" placeholder="Data Di Compilazione" pattern="^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$" required>
                        <label for="inputDateCompilation">Data Di Compilazione</label>
                    </div><br>
                    <h5 style="text-align: justify; font-style: italic; color: darkblue;">Note</h5><br>
                    <div class="notes">
                        <p>1) Nazionalità: Paese di appartenenza amministrativa della persona e che rilascia la carta d'identità e / o il passaporto.<br>
                            <hr> 2) Ciclo di studio: ciclo breve (livello 5 EQF) / laurea triennale o equivalente (livello 6 EQF) / secondo ciclo master o equivalente (livello EQF 7) / dottorato o terzo ciclo equivalente (EQF livello 8) - per i neolaureati,
                            specificare l'ultimo ciclo di studio.<br>
                            <hr> 3) Lo strumento di ricerca ISCED-F 2013 disponibile su http://ec.europa.eu/education/tools/isced-f_en.htm dovrebbe essere utilizzato per trovare il settore dettagliato dell'istruzione e formazione ISCED 2013 più vicino all'argomento
                            del titolo che deve essere assegnato al tirocinante dall'istituto di invio.<br>
                            <hr> 4) L'elenco dei codici settoriali di alto livello della NACE è disponibile all'indirizzo: http://ec.europa.eu/eurostat/ramon/nomenclatures/index.cfm?TargetUrl=LST_NOM_DTL&StrNom=NACE_REV2&StrLanguageCode=EN.<br>
                            <hr> 5) Le dimensioni dell'impresa potrebbero essere, ad esempio, 1-50 / 51-500 / più di 500 dipendenti.<br>
                            <hr> 6) Persona di contatto: una persona che può fornire informazioni nell'ambito di Erasmus tirocinanti.<br>
                            <hr> 7) Mentore: il ruolo del mentore è di fornire supporto, incoraggiamento e informazione al tirocinante sulla vita e sull'esperienza relative all'impresa (cultura dell'impresa, codici e comportamenti informali, ecc.). Normalmente,
                            il mentore dovrebbe essere una persona diversa rispetto al supervisore.<br>
                            <hr> 8) Per il quadro comune europeo di riferimento per le lingue (QCER), consultare <br>https://europass.cedefop.europa.eu/resources/european-language-levels-cefr</p>
                    </div>
                    <hr>
                    <div class="btn-block">
                        <button type="submit" class="saveButton">Salva</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/dist/jquery.min.js "></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js "></script>


    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle ").click(function(e) {
            e.preventDefault();
            $("#wrapper ").toggleClass("toggled ");
        });
    </script>
</body>

</html>