<%- include ('header') %>
<%- include ('sidebar') %>
<link href="/css/document.css" rel="stylesheet">
<p id="email" style="display:none;"><%=session.utente.utente.Email%></p>
    <div class="main-panel">
        <div class="content">
            <div class="panel-header bg-primary-gradient">
                <div class="page-inner py-5">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                        <div>
                            <h2 class="text-white pb-2 fw-bold">Gestione Documenti</h2>
                            <h5 class="text-white op-7 mb-2">Easy Agreement</h5>
                        </div>
                    </div>
                </div>	
            </div>
            <div class="table-responsive">
                    <table class="table table-bordered table-striped table-head-bg-info">
                        <thead>
                            <tr>
                                <th class="text-center">Documento</th>
                                <th class="text-center">Stato</th>
                                <th class="text-center">Carica</th>
                                <th class="text-center">Visualizza</th>
                                <th class="text-center">Elimina</th>
                            </tr>
                        </thead>
                    <tr>
                            <td class="text-center" name="documento_cd"><p class="text-of-table">Carta Di Identità</p></td>
                            <td class="text-center" name="stato_cd" id="statoID"></td>
                        <td class="text-center" name="carica_cd">
                            <form action="/uploadID" method="post" enctype="multipart/form-data" name="uploadFormCD">
                            <input type="file" name="filetoupload" id="idfiletoupload" class="input-upload" >
                            <label for="idfiletoupload" class="input-label-upload">Scegli file</label>
                            <input type="submit" class="upload-button" value="Upload">
                            </form>
                            <td class="text-center" name="visualizza_cd"><form action="/fileviewID" method="post" name="viewFormCD"><button type="image" class="download-image"><img src="/img/download-document.png" ></button></form></td>
                            <td class="text-center" name="elimina_cd"><form action="/deleteID" method="post" name="deleteFormCD" id="deleteID"><button type="image" class="delete-image"><img src="/img/delete-document.png"></button></form></td>
                        </tr>

                    <tr>
                        <td class="text-center" name="documento_cv"><p class="text-of-table">Curriculum Vitae</p></td>
                        <td class="text-center" name="stato_cv" id="statoCV"></td>
                        <td class="text-center" name="carica_cv"><a>
                            <form action="/uploadCV" method="post" enctype="multipart/form-data" id="doc" name="uploadFormCV">
                            <input type="file" name="filetoupload" id="cvfiletoupload" class="input-upload">
                            <label for="cvfiletoupload" class="input-label-upload">Scegli file</label>
                            <input type="submit" value="Upload" class="upload-button">
                            </form>
                        <td class="text-center" name="visualizza_cv"><form action="/fileviewCV" method="post" name="viewFormCV"><button type="image" class="download-image"> <img src="/img/download-document.png" ></button></form></td>
                        <td class="text-center" name="elimina_cv"><form action="/deleteCV" method="post" name="deleteFormCV" id="deleteCV"><button type="image" class="delete-image"> <img src="/img/delete-document.png"></button></form></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
<%- include ('footer') %>
<script>

    var email=$('#email').text();

    $.ajax({
        type:"POST",
        url:'http://localhost:8080/getIDState',
        data:{email: email},
        success: function(result){
            if(result){
                $('#statoID').append('<p class="text-of-table">Documento caricato</p>');
            }
            else{
                $('#statoID').append('<p class="text-of-table">Documento non caricato</p>');
            }
        }
    });

    $.ajax({
        type:"POST",
        url:'http://localhost:8080/getCVState',
        data:{email: email},
        success: function(result){
            if(result){
                $('#statoCV').append('<p class="text-of-table">Documento caricato</p>');
            }
            else{
                $('#statoCV').append('<p class="text-of-table">Documento non caricato</p>');
            }
        }
    });

    $(document).ready(function(){
        $('#deleteID').submit(function(e){
            e.preventDefault();
            var form=this;
            swal({
                title: 'Sei sicuro?',
                text: "Non potrai più tornare indietro!",
                icon: 'warning',
                showCancelButton: true,
                buttons: true,
                dangerMode: true
            }).then(function(result){
                if(result){
                    form.submit();
                }
            });
        });

        $('#deleteCV').submit(function(e){
            e.preventDefault()
            var form=this;
            swal({
                title: 'Sei sicuro?',
                text: "Non potrai più tornare indietro!",
                icon: 'warning',
                showCancelButton: true,
                buttons: true,
                dangerMode: true
            })
            .then(function(result){
                if(result){
                    form.submit();
                }
            });
        });
    });
</script>

</html>
