<script src="/jquery/dist/jquery.min.js"></script>
<script>
    $(function(){
      $("#header").load("header.html");
      $("#sidebar").load("sidebar.html");
      $("#footer").load("footer.html");
    });
</script>
<div class="wrapper">
    <div id ="header" class="main-header"></div>
    <div id ="sidebar" class="sidebar sidebar-style-2"></div>
    <div class="main-panel">
        <div class="content">
            <div class="panel-header bg-primary-gradient">
                <div class="page-inner py-5">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                        <div>
                            <h2 class="text-white pb-2 fw-bold">Home Page</h2>
                            <h5 class="text-white op-7 mb-2">New home page test</h5>
                        </div>
                    </div>
                </div>	
            </div>
            <div class="page-inner py-5">Inner page content goes here</div>
        </div>
    </div>
</div>
<footer id ="footer" class="footer"></footer>
