<%- include ('header') %>
<%- include ('sidebar') %>
<script type="text/javascript" src="./js/cookie.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <div class="main-panel">
        <div class="content">
            <div class="panel-header bg-primary-gradient">
                <div class="page-inner py-5">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                        <div>
                            <h2 class="text-white pb-2 fw-bold">Home Page</h2>
                            <h5 class="text-white op-7 mb-2">Easy Agreement</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-inner py-5">Per iniziare, seleziona una delle opzioni.</div>
        </div>
    </div>
<%- include ('footer') %>
