<!DOCTYPE html>
<head>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/signup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/atlantis.min.css">
    <script type="text/javascript" src="/js/signupValidate.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="js/cookie.js"></script>
    <script language="Javascript">
      function formStudent(){
          document.getElementsByClassName("forTutor")[0].style.display='none';
          document.getElementsByClassName("forStudent")[0].style.display='initial';
          for(var i=0; i<7; i++){
            document.getElementsByClassName("student")[i].required=true;
          }
          for(i=0; i<4; i++){
            document.getElementsByClassName("tutor")[i].required=false;
          }
      }
      function formTutor(){
          document.getElementsByClassName("forStudent")[0].style.display="none";
          document.getElementsByClassName("forTutor")[0].style.display="initial";
          for(var i=0; i<7; i++){
            document.getElementsByClassName("student")[i].required=false;
          }
          for(i=0; i<4; i++){
            document.getElementsByClassName("tutor")[i].required=true;
          }
      }
    </script>
  </head>
<body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Registrazione</h5>
              <form class="form-signin" id="formSignUp" action="/signup" method="post">   
                <div class="radioButtons">
                  <ul>
                    <li>
                      <input type="radio" id="studentRadio" name="radioAccount" value="studente" onclick="formStudent()" checked>
                      <label for="studentRadio" >Studente</label>
                      <div class="radios"></div>
                    </li>
                    <li>
                      <input type="radio" id="tutorAccRadio" name="radioAccount" value="tutorAccademico" onclick="formTutor()">
                      <label for="tutorAccRadio" >Tutor Accademico</label>
                      <div class="radios"><div class="insideRadio"></div></div>
                    </li>
                  </ul>
                </div>   
                <div class="forTutor" style="display: none;">
                  <div class="form-label-group">
                    <input type="text" id="inputNameT" class="form-control tutor" name="inputNameT" placeholder="Nome" autofocus>
                    <label for="inputNameT">Nome</label>
                    <span id="errNameT">Nome non valido</span>
                  </div>

                  <div class="form-label-group">
                    <input type="text" id="inputSurnameT" class="form-control tutor" name="inputSurnameT" placeholder="Cognome">
                    <label for="inputSurnameT">Cognome</label>
                    <span id="errSurnameT">Cognome non valido</span>
                  </div>

                  <div class="form-label-group">
                    <input type="email" id="inputEmailT" class="form-control tutor" name="inputEmailT" placeholder="E-mail">
                    <label for="inputEmailT">E-mail</label>
                    <span id="errEmailT">E-mail non valida</span>
                  </div>

                  <div class="form-label-group">
                    <input type="text" id="inputDepartmentT" class="form-control tutor" name="inputDepartmentT" placeholder="Dipartimento">
                    <label for="inputDepartmentT">Dipartimento</label>
                    <span id="errDepartmentT">Dipartimento non valido</span>
                  </div>
                </div>

                <div class="forStudent" style="display: initial;">       
                  <div class="form-label-group">
                    <input type="text" id="inputName" class="form-control student" name="inputName" placeholder="Nome" autofocus required>
                    <label for="inputName">Nome</label>
                    <span id="errName">Nome non valido</span>
                  </div>
    
                  <div class="form-label-group">
                    <input type="text" id="inputSurname" class="form-control student" name="inputSurname" placeholder="Cognome" required>
                    <label for="inputSurname">Cognome</label>
                    <span id="errSurname">Cognome non valido</span>
                  </div>

                  <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control student" name="inputEmail" placeholder="E-mail" required>
                    <label for="inputEmail">E-mail</label>
                    <span id="errEmail">E-mail non valida</span>
                  </div>
                  
                  <div class="form-label-group">
                    <input type="text" id="inputMatricola" class="form-control student" name="inputMatricola" placeholder="Matricola" required>
                    <label for="inputMatricola">Matricola</label>
                    <span id="errMatricola">Matricola non valida</span>
                  </div>

                  <div class="form-label-group">
                    <input type="text" id="inputCity" class="form-control student" name="inputCity" placeholder="Citt&agrave" required>
                    <label for="inputCity">Citt&agrave</label>
                    <span id="errCity">Citt&agrave non valida</span>
                  </div>

                  <div class="form-label-group">
                    <input type="text" id="inputAddress" class="form-control student" name="inputAddress" placeholder="Indirizzo" required>
                    <label for="inputAddress">Indirizzo</label>
                    <span id="errAddress">Indirizzo non valido</span>
                  </div>

                  <div class="form-label-group">
                    <input type="text" id="inputCourse" class="form-control student" name="inputCourse" placeholder="Corso di laurea" required>
                    <label for="inputCourse">Corso di laurea</label>
                    <span id="errCourse">Corso di laurea non valido</span>
                  </div>
                </div>

                <hr>
  
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" name="inputPassword" placeholder="Password" required>
                  <label for="inputPassword">Password</label>
                  <span id="errPassword">Password non valida</span>
                </div>
                
                <div class="form-label-group">
                  <input type="password" id="inputConfirmPassword" class="form-control" name="inputConfirmPassword" placeholder="Conferma password" required>
                  <label for="inputConfirmPassword">Conferma password</label>
                  <span id="errConfirmPassword">La password non corrisponde</span>
                </div>
  
                <button class="btn btn-lg btn-primary btn-block" type="submit">Registrati</button>
                <a class="d-block text-primary text-center mt-2 small" href="/">Login</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>