<%- include ('header') %>
<%- include ('sidebar') %>
<link href="/css/viewRequest.css" rel="stylesheet">
<div class="main-panel">
    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Visualizzazione Dettagli Richiesta</h2>
                        <h5 class="text-white op-7 mb-2">Learning Agreement</h5>
                    </div>
                </div>
            </div>	
        </div>
        <div class="page-inner py-5">
            <div class="infoStudent" style="width: 50%; float: left;">
                <span style="font-weight: bold;">Nome:</span>
                <span id="name"></span><br><br>
                <span style="font-weight: bold;">Cognome:</span>
                <span id="surname"></span><br><br>
                <span style="font-weight: bold;">Data di nascita:</span>
                <span id="bornDate"></span><br><br>
                <span style="font-weight: bold;">Nazionalità:</span>
                <span id="nationality"></span><br><br>
                <span style="font-weight: bold;">E-mail:</span>
                <span id="email"></span><br><br>
            </div>
            <div class="infoTutor" style="width: 50%; float: right">
                <span style="font-weight: bold;">Tutor Accademico:</span>
                <span id="academicTutor"></span><br><br>
                <span style="font-weight: bold;">Tutor Esterno:</span>
                <span id="externalTutor"></span><br><br>
                <br>
                <br>
                <br>
                <span style="font-weight: bold;">Stato:</span>
                <span id="state"></span><br><br>
            </div>
            <br>
            <div class="button" style="margin-top: 15%;">
                <div class="btn-group">
                    <button class="btn2" type="button" id="approve">Approva</button>
                    <button class="btn2" type="button" id="disapprove">Disapprova</button>
                    <form id = "disapproveForm" method ="POST" action = "#" style = "display: none;">
                        <div class = "form-label-group">
                            <input type = "text" class = "form-control" name = "msg">
                            <label for = "msg">Inserire la motivazione</label>
                        </div>
                        <button class="btn" type="submit" class="saveButton">Disapprova</button>
                    </form>
                </div>
                <button class="btn2 btn-block" type="button" id="view" >Visualizza</button>
                <button class="btn2 btn-block" type="button" id="idCard">Visualizza carta d'identità</button>
                <button class="btn2 btn-block" type="button" id="cv">Visualizza curriculum vitae</button>
            </div>
            </div>
        </div>
    </div>
</div>    
    <script>
        $(document).ready(function(){
            $.get('/getDetails', function(data){
                document.getElementById("name").innerHTML = data["data"]["First name (s)"];
                document.getElementById("surname").innerHTML = data["data"]["Last name (s)"];
                document.getElementById("bornDate").innerHTML = data["data"]["Date of birth"];
                document.getElementById("nationality").innerHTML = data["data"]["Nationality"];
                document.getElementById("email").innerHTML = data["data"]["E-mail"];
                document.getElementById("academicTutor").innerHTML = data["data"]["Contact person name / position"];
                document.getElementById("externalTutor").innerHTML = data["data"]["Mentor name / position"];
                document.getElementById("state").innerHTML = data["status"];

                if(data["status"].startsWith("Approvato dal Tutor Accademico") || data["status"].startsWith("Approvato dal Tutor Esterno")) {
                    document.getElementById("approve").style.display = "none";
                    document.getElementById("disapprove").style.display = "none";
                }

                $.get('/getConnectedUser', function(user) {
                    if(user.type === 'academicTutor') {
                        document.getElementById("approve").onclick = "location.href='compileLAAcademicTutor.html'";
                        document.getElementById("disapprove").onclick = function() {                            
                            document.getElementById("disapproveForm").style.display = "block";
                            document.getElementById("disapprove").style.display = "none";
                            document.getElementById("disapproveForm").action = "/disapproveAcademicTutor"
                        }
                    }
                    else if (user.type === 'externalTutor') {
                        document.getElementById("approve").onclick = "location.href='compileLAExternalTutor.html'";
                        document.getElementById("disapprove").onclick = function() {                            
                            document.getElementById("disapproveForm").style.display = "block";
                            document.getElementById("disapprove").style.display = "none";
                            document.getElementById("disapproveForm").action = "/disapproveExternalTutor"
                        }
                    }
                });
            })
        });
    </script>
<%- include ('sidebar') %>