<%- include ('header') %>
<%- include ('sidebar') %>
<link href="/css/viewRequest.css" rel="stylesheet">
<div class="main-panel">
    <div class="content">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">Learning Agreement</h2>
                        <h5 class="text-white op-7 mb-2" id = "status">Stato: <b>Non ancora compilato</b></h5>
                    </div>
                </div>
            </div>	
        </div>
        <div class="page-inner py-5">
            <img class="logoEA" src="/img/EasyAgreement_Logo.png" alt="logo Easy Agreement">
            <h4 style="text-align: justify; font-style: italic; color: darkblue;">Erasmus+</h4><br>
            <hr>
            <br>
            <br>
            <form action="/getVersions" method ="GET">
                <div class="form-group">
                    <label>Versioni:</label><br>
                    <select class="custom-select"  name="inputVersion" id="versions">
                    </select>
                    <button class="btn btn-secondary btn-round" type="submit" style ="margin-left: 5rem;" id ="view" disabled>Visualizza</button>
                </div>
            </form>
        </div>
    </div>
<%- include ('footer') %>
    <script>
        $(document).ready(function() {
            $.get("/getStatus", function(status) {
                if(status) document.getElementById("status").innerHTML = "Stato: <b>"+status+"</b>";
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $.get("/getAllVersions", function(array) {
                if(array) {
                    if(array[0]) {
                        document.getElementById("view").disabled = false;
                        var select = document.getElementById("versions");
                        for(i = 0; i < array.length; i++) {
                            var option = document.createElement("option");
                            if(i == 0) {
                                option.text = array[i].version+" (corrente)";
                                option.value = array[i].version;
                                select.add(option);
                            }
                            else {
                                option.text = array[i].version;
                                option.value = array[i].version;
                                select.add(option);
                            }
                        }     
                    }
                }
            });
        });
    </script>